---
import { getCollection, getEntry, render } from "astro:content";
import LeaderBoardChart from "../../components/LeaderboardChart";
import Layout from "../../layout/layout.astro";
import { Icon } from "astro-icon/components";

// 1.Generate all the path for benchmarks
export async function getStaticPaths() {
  const benchmarks = await getCollection("benchmarks");
  return benchmarks.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

// 2.Get data for specific page
const { entry } = Astro.props;
const {
  name,
  fullName,
  publisher,
  lastUpdated,
  tags,
  metrics,
  snapshot,
  link,
  isFromAA,
  AALink,
} = entry.data;

const docEntry = await getEntry("benchmark-docs", entry.id);

let Content;
if (docEntry) {
  const rendered = await render(docEntry);
  Content = rendered.Content;
}

// 3.Get the objects of models and publishers from benchmark
const enrichedSnapshot = await Promise.all(
  snapshot.map(async (item) => {
    // Get the model
    const modelEntry = await getEntry(item.modelRef);

    // Detect wrong reference to model
    if (!modelEntry) {
      console.warn(`Model not found: ${item.modelRef.id}`);
      return {
        model: item.modelRef.id,
        score: item.score,
        publisherInfo: null,
      };
    }

    // Get the publisher from model
    const publisherEntry = await getEntry(modelEntry.data.publisher);

    return {
      model: modelEntry.data.name,
      modelId: item.modelRef.id,
      score: item.score,
      publisherInfo: publisherEntry ? publisherEntry.data : null,
    };
  }),
);

const sortedSnapshot = enrichedSnapshot.sort((a, b) => {
  return metrics.isBetterHigher ? b.score - a.score : a.score - b.score;
});
---

<Layout title={`${name} - BenchAI1`}>
  <body class="bg-[#fffcf2] max-w-7xl min-h-screen pb-20">
    <nav class="mx-auto px-6 py-10 max-w-7xl text-xs">
      <a
        href="/benchmarks"
        class="group flex items-center gap-2 text-slate-400 hover:text-indigo-600 transition-colors"
      >
        <span class="text-lg group-hover:-translate-x-1 transition-transform"
          >←</span
        >
        <span class="font-bold uppercase tracking-widest text-ts">Back</span>
      </a>
    </nav>

    <main class="w-full px-6 max-w-7xl mx-auto">
      <!-- Info Header(Full width) -->
      <header class="mb-8">
        <div class="flex items-center gap-3 mb-5">
          <h1 class="text-5xl font-semibold text-black">
            {fullName ? fullName : name}
          </h1>
          <div
            class="relative inline-block"
            x-data="{ open: false }"
            @mouseenter="clearTimeout(timeout); open = true"
            @mouseleave="timeout = setTimeout(() => open = false, 100)"
          >
            <div
              class="w-5 h-5 rounded-full text-xs grid place-item-center translate-y-1/10"
            >
              <Icon name="ph:info-fill" class="w-7 h-7" />
              <div
                x-show="open"
                class="border border-2 border-black absolute left-full top-1/2 translate-x-3 -translate-y-1/2 ml-2 z-50 px-2.5 py-1.5 bg-white max-w-l w-max"
              >
                <div class="flex items-center gap-2">
                  <span class="text-xl text-slate-800 italic"
                    >Benchmark Tags:</span
                  >
                  <div class="flex gap-2">
                    {
                      tags.map((tag) => (
                        <a
                          href={`/?tag=${tag}`}
                          class="text-xl text-slate-800 italic underline hover:text-indigo-400 transition-colors"
                        >
                          {tag}
                        </a>
                      ))
                    }
                  </div>
                </div>
                <!-- Publisher -->
                <div class="flex items-center gap-2">
                  <div class="text-xl text-slate-800 italic">Publisher:</div>
                  <div class="text-xl text-slate-800 italic">{publisher}</div>
                </div>
                <!-- Updated Time -->
                <div class="flex items-center gap-2">
                  <div class="text-xl text-slate-800 italic">Last Sync:</div>
                  <div class="text-xl text-slate-800 italic">{lastUpdated}</div>
                </div>
                <!-- Link -->
                <div class="flex items-center gap-2">
                  <div class="text-xl text-slate-800 italic">
                    Official Site:
                  </div>
                  <a
                    href={link}
                    target="_blank"
                    class="text-xl text-slate-800 italic underline hover:text-indigo-400 transition-colors"
                  >
                    Link
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Documentation Container -->
        {
          Content && (
            <div class="w-full">
              <div class="max-h-[600px] overflow-y-auto border-2 border-slate-200 rounded px-6 custom-scrollbar bg-white">
                <article class="doc-content">
                  <Content />
                </article>
              </div>
            </div>
          )
        }
        <!-- LeaderBoardChart -->
        <div class="mt-5 mb-20">
          <div class="flex justify-center items-end mb-4 gap-1">
            <h2 class="text-xl font-bold uppercase tracking-widest">
              Benchmark Snapshot
            </h2>
            <div>
              {
                isFromAA && (
                  <div class="group relative">
                    <div class="rounded-full text-xs grid">
                      <Icon name="ph:info-fill" class="w-6 h-6 " />
                      <div class="absolute inset-x-0 inset-y-[-100%] left-[50%] w-[200%] h-[200%] -translate-x-1/2 pointer-events-none group-hover:pointer-events-auto z-40" />
                      <div class="border border-2 border-black absolute left-full top-1/2 -translate-y-1/2 ml-2 hidden group-hover:block px-2.5 py-1.5 bg-white max-w-l w-max">
                        <div class="flex">
                          <div class="xt-center inline-block">
                            <p class="text-black text-lg font-medium">
                              The data of this benchmark is from
                              <a
                                href="https://artificialanalysis.ai/"
                                target="_blank"
                                class="text-indigo-500 italic"
                              >
                                Artificial Analysis
                              </a>
                            </p>
                            <p class="text-black text-lg font-medium">
                              The shown result might be different from the
                              Official Site.
                              <br /> Check
                              <a
                                href={AALink}
                                target="_blank"
                                class="text-indigo-500 italic"
                              >
                                Benchmark Page from Artificial Analysis
                              </a>
                              for more information.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                )
              }
            </div>
          </div>
          <LeaderBoardChart
            client:load
            snapshot={sortedSnapshot}
            unit={metrics.unit}
          />
        </div>
      </header>
    </main>
  </body>
</Layout>
