---
import { getCollection, getEntry } from "astro:content";
import LeaderBoardChart from "../../components/LeaderboardChart";
import Layout from "../../layout/layout.astro";

// 1.Generate all the path for benchmarks
export async function getStaticPaths() {
  const benchmarks = await getCollection("benchmarks");
  return benchmarks.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

// 2.Get data for specific page
const { entry } = Astro.props;
const {
  name,
  fullName,
  description,
  publisher,
  lastUpdated,
  tags,
  metrics,
  snapshot,
  link,
  isFromAA,
  AALink,
} = entry.data;

// 3.Get the objects of models and publishers from benchmark
const enrichedSnapshot = await Promise.all(
  entry.data.snapshot.map(async (item) => {
    // Get the model
    const modelEntry = await getEntry("models", item.modelRef);

    // Detect wrong reference to model
    if (!modelEntry) {
      console.warn(`Model not found: ${item.modelRef}`);
      return {
        model: item.modelRef,
        score: item.score,
        publisherInfo: null,
      };
    }

    // Get the publisher from model
    const publisherEntry = await getEntry(
      "publishers",
      modelEntry.data.publisher,
    );

    return {
      model: modelEntry.data.name,
      score: item.score,
      publisherInfo: publisherEntry ? publisherEntry.data : null,
    };
  }),
);

const sortedSnapshot = enrichedSnapshot.sort((a, b) => {
  return metrics.isBetterHigher ? b.score - a.score : a.score - b.score;
});
---

<Layout title={`${name} - BenchAI1`}>
  <body class="bg-slate-50 min-h-screen pb-20">
    <nav class="w-[80%] mx-auto px-6 py-10">
      <a
        href="/"
        class="group flex items-center gap-2 text-slate-400 hover:text-indigo-600 transition-colors"
      >
        <span class="text-lg group-hover:-translate-x-1 transition-transform"
          >←</span
        >
        <span class="font-bold uppercase tracking-widest text-ts">Back</span>
      </a>
    </nav>

    <main class="w-[80%] mx-auto px-6">
      <!-- Info Header(Full width) -->
      <header class="text-center mb-8">
        <!-- Name of the benchmark -->
        <h1 class="text-5xl font-black text-slate-900 mb-3">{name}</h1>
        <!-- Full name of the benchmark (if exists) -->
        {
          fullName && (
            <h1 class="text-3xl font-black text-slate-900 mb-6">{fullName}</h1>
          )
        }
        <!-- Tags of the benchmark -->
        <div class="inline-flex gap-2 mb-4">
          {
            tags.map((tag) => (
              <a
                href={`/?tag=${tag}`}
                class="px-3 py-1 bg-indigo-50 text-indigo-600 text-x font-bold rounded-full border border-indigo-100 hover:bg-indigo-600 hover:text-white transition-colors"
              >
                {tag}
              </a>
            ))
          }
        </div>
        <!-- Description of the benchmark -->
        <p
          class="max-w-3xl mx-auto text-xl text-slate-500 italic leading-relaxed"
        >
          "{description}"
        </p>
      </header>

      {
        isFromAA && (
          <div class="flex justify-center">
            <div class="border-2 border-indigo-200 bg-yellow-50 rounded-lg px-6 py-4 text-center shadow mb-3 inline-block">
              <p class="text-black text-lg font-medium">
                The data of this benchmark is from
                <a
                  href="https://artificialanalysis.ai/"
                  target="_blank"
                  class="text-indigo-500 italic"
                >
                  Artificial Analysis
                </a>
              </p>
              <p class="text-black text-lg font-medium">
                The shown result might be different from the Official Site.
                <br /> Check
                <a href={AALink} target="_blank" class="text-indigo-500 italic">
                  Benchmark Page from Artificial Analysis
                </a>
                for more information.
              </p>
            </div>
          </div>
        )
      }

      <!-- Main Action Info -->
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-12 border-y border-slate-200 py-3"
      >
        <!-- Publisher -->
        <div class="text-center">
          <div
            class="text-sm font-black text-slate-400 uppercase tracking-tighter mb-1"
          >
            Publisher
          </div>
          <div class="text-sm font-bold text-slate-700">{publisher}</div>
        </div>
        <!-- Updated Time -->
        <div class="text-center border-x border-slate-200">
          <div
            class="text-sm font-black text-slate-400 uppercase tracking-tighter mb-1"
          >
            Last Sync
          </div>
          <div class="text-sm font-bold text-slate-700">{lastUpdated}</div>
        </div>
        <!-- Link -->
        <div class="text-center">
          <div
            class="text-sm font-black text-slate-400 uppercase tracking-tighter mb-1"
          >
            Official Site
          </div>
          <a
            href={link}
            target="_blank"
            class="text-sm font-bold text-indigo-600 hover:underline">Link ↗</a
          >
        </div>
      </div>

      <!-- LeaderBoardChart -->
      <div class="mb-20">
        <div class="flex justify-between items-end mb-4">
          <h2
            class="text-sm font-black uppercase tracking-widest text-slate-400"
          >
            Benchmark Snapshot(For reference Only)
          </h2>
        </div>
        <LeaderBoardChart
          client:load
          snapshot={sortedSnapshot}
          unit={metrics.unit}
        />
      </div>
    </main>
  </body>
</Layout>
